.na{
    background: url(book1.jpg) ;
    background-repeat: no-repeat;
    margin: auto;
    position: absolute;
    width: 1366px;
    height: 580px;
}
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li{
       float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}

hr{
  margin: 0;
  padding: 0;
  color: green; /* Цвет линии для остальных браузеров */
    background-color: green; /* Цвет линии для браузера Firefox и Opera */
    height: 10px; /* Толщина линии */
}
